@using Microsoft.AspNetCore.Http
@model IEnumerable<User>

@{
    ViewBag.Title = "Login";

    HttpContext httpContext = ViewContext.HttpContext;
    var loggedInUser = httpContext.Session.GetSessionObjectFromJson<User>(Settings.SESSION_USER_KEY);
}

<div class="text-center">
    <h1>Hello @loggedInUser.UserName</h1>
    <input type="button" value="Logout" onclick="location.href='@Url.Action("Logout")'"/>
    @if (loggedInUser.IsAdministrator)
    {
        <table>
            <tr>
                <th>ID</th>
                <th>User name</th>
                <th>Is administrator</th>
            </tr>

            @foreach (User user in Model)
            {
                <tr>
                    <td>@user.UserID</td>
                    <td>@user.UserName</td>
                    <td>@user.IsAdministrator</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = user.UserID}) |
                        @* @Html.ActionLink("Delete", "Delete", new { id = user.UserID}) *@
                    </td>
                </tr>
            }
        </table>
    }
</div>